{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<nav class="navbar">
  <div class="btn-group">
    <a href='{{ months.get_absolute_url }}' class="btn btn-primary">回到表格</a>
  </div>
</nav>

<p>
<form action="" method="POST">
    {% csrf_token %}
        <p>{{form.name.label_tag}}{{ form.name|add_class:'form-control' }}</p>
        <p>{{form.extra_price.label_tag}}{{ form.extra_price|add_class:'form-control' }}</p>
    <input type="submit" class="btn btn-primary">
</form>

{% endblock %}
