{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<nav class="navbar">
<div class="btn-group">
<a href={% url 'table_money_list' %} class="btn btn-primary"><i class="icon-list-alt"></i> 餐費表格</a>

<a href={% url 'table_money_pay' pk=months.pk  %} class="btn btn-primary active"><i class="icon-money"></i> 繳費</a>
      
</div>
</nav>


<p>

<p><h1>{{ months.year }}年 {{ months.month }}月 餐費表格</h1>

<form action="." method="POST">
<table class="table table-hover">
    {% csrf_token %}
    {{ formset.management_form }}

  <thead>
    <tr>
      <th>編號</th>
      <th>姓名</th>
      <th>餐費金額</th>
      <th>繳費狀態</th>
      <th>收款人</th>
      <th>備註</th>
    </tr>
  </thead>
        {% for form in formset %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}  

  <tbody>
    <tr>
    
      <td>{{ form.instance.name.number }}</td>
      <td>{{ form.instance.name }}</td>
      <td>{{ form.instance.totle_price }}</td>
      <td><div class="btn-group" ><label class="btn btn-outline-primary">{{ form.pay_off }} 繳費</label></div></td>
      <td>{{ form.payee|add_class:'form-control' }}</td>
      <td>{{ form.note|add_class:'form-control' }}</td>

    </tr>
  </tbody>


  {% endfor %}
</table>


    <input type="submit" class="btn btn-primary">

</form>


</body>





{% endblock %}