{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<nav class="navbar">
<div class="btn-group">
<a href={% url 'table_money_list' %} class="btn btn-primary"><i class="icon-list-alt"></i> 餐費表格</a>
<a href={% url 'month_create' %} class="btn btn-primary"><i class="icon-file"></i> 製作表格</a>
<a href={%  url 'edit_work_day' pk=months.pk  %} class="btn btn-primary"><i class="icon-calendar"></i> 編輯上班天數</a>
<a href={%  url 'table_money_pay' pk=months.pk  %} class="btn btn-primary active"><i class="icon-money"></i> 繳費</a>
      <!-- Small modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm-{{ profile.number }}"><i class="icon-remove"></i> 刪除本月表格</button>
</div>
</nav>

      <div class="modal fade bd-example-modal-sm-{{ profile.number }}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">確認刪除</h4>
            </div>
            <div class="modal-body">
            
              <p>是否刪除 {{months.year}} {{months.month}} 表格</p>
              
            </div>
            <div class="modal-footer">
              
              
              <a href={{months.remove}} class="btn btn-primary">是</a>

              
              <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

<p>

<h1>{{ months.year }}年 {{ months.month }}</h1>

<form action="." method="POST">
<table class="table table-hover">
    {% csrf_token %}
    {{ formset.management_form }}

  <thead>
    <tr>
      <th>編號</th>
      <th>姓名</th>
      <th>餐費金額</th>
      <th>繳費狀態</th>
      <th>收款人</th>
      <th>備註</th>
    </tr>
  </thead>
        {% for form in formset %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}  

  <tbody>
    <tr>
    
      <td>{{ form.instance.name.number }}</td>
      <td>{{ form.instance.name }}</td>
      <td>{{ form.instance.totle_price }}</td>
      <td><div class="btn-group" ><label class="btn btn-outline-info">{{ form.pay_off }} 繳費</label></div></td>
      <td>{{ form.payee|add_class:'form-control' }}</td>
      <td>{{ form.note|add_class:'form-control' }}</td>

    </tr>
  </tbody>


  {% endfor %}
</table>


    <input type="submit" class="btn btn-primary">

</form>


</body>





{% endblock %}