{% extends 'base.html' %}


{% block content %}
<nav class="navbar">
  <div class="btn-group">
    <a href={% url 'table_money_list' %} class="btn btn-primary"><i class="icon-list-alt"></i> 餐費表格</a>
    
    <a href={{ holiday.get_absolute_url }} class="btn btn-primary"><i class="icon-calendar"></i> 編輯上班天數</a>
    <a href={%  url 'table_money_pay' pk=months.pk  %} class="btn btn-primary"><i class="icon-money"></i> 繳費</a>

  </div>
  <a href="{{ holiday.get_absolute_url }}" class="btn btn-primary">本月輪休表</a>
</nav>

<p>




<p><h1>{{ months.year }}年 {{ months.month }}月 餐費表格</h1>


<div class="row">
  <div class="col-lg-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>編號</th>
          <th>姓名</th>
          <th>上班天數</th>
          <th>餐費金額</th>
          <th>收款人</th>
          <th>收款日期</th>
          <th>備註</th>
        </tr>
      </thead>
          {% for table_money in table_moneys %}
      <tbody>
        <tr>

          {% if table_money.pay_off == True %}
          <td>{{table_money.name.number}}</td>
          <td>{{table_money.name}}</td>
          <td>{{table_money.workday_count}}</td>
          <td>{{table_money.totle_price}}</td>
          <td>{{table_money.payee}} </td>
          

          {% else %}
          <td>{{table_money.name.number}}</td>
          <td>{{table_money.name}}</td>
          <td>{{table_money.workday_count}}</td>
          <td>{{table_money.totle_price}}</td>
          <td> </td>
          <td> </td>
          {% endif %}

          <td>{{table_money.pay_date}}</td>
          <td>{{table_money.note}}</td>
        </tr>
      </tbody>
          {% endfor %}
    </table>
  </div>
</div>


<div class="row">
  <div class="col-lg-6">
    <p>已繳金額：{{ months.current_money }}</p>
    當月總額：{{ months.month_total }}
  </div>
</div>

{% endblock %}