{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<nav class="navbar">
	<div class="btn-group">
		<a href={% url 'holiday_list' %} class="btn btn-primary ">輪休表</a>
		<a href={% url 'holiday_create' %} class="btn btn-primary active">製作表格</a>
	</div>
</nav>
<p>
<h1>製作輪休表</h1>

<p>
<form action="" method="POST">
    {% csrf_token %}
        <p>{{form.year.label_tag}}{{ form.year|add_class:'form-control' }}</p>
        <p>{{form.month.label_tag}}{{ form.month|add_class:'form-control' }}</p>
        <p>{{form.holiday_count.label_tag}}{{ form.holiday_count|add_class:'form-control' }}</p>
    <input type="submit" class="btn btn-primary">
</form>



{% endblock %}