{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<nav class="navbar">
<div class="btn-group">
<a href={% url 'profile_list' %} class="btn btn-primary"><i class="icon-user"></i> 人員列表</a>
<a href={% url 'create_colleague' %} class="btn btn-primary"><i class="icon-user"></i> 新增人員</a>
<a href={% url 'edit_profile' %} class="btn btn-primary"><i class="icon-user"></i> 編輯人員資料</a>
<a href={% url 'profile_delete_list' %} class="btn btn-primary"><i class="icon-remove"></i> 刪除人員</a>
<a href={% url 'edit_member_number' %} class="btn btn-primary"><i class="icon-list-ol"></i> 修改隊員編號</a>
<a href={% url 'edit_substitute_number' %} class="btn btn-primary active"><i class="icon-list-ol"></i> 修改替代役編號</a>
</div>
</nav>
<p>
<h1>更改編號</h1>

<form action="" method="POST" class="form-inline">
    {% csrf_token %}


    {{ formset.management_form }}
    	
    	{% for form in formset %}
   			<p>
   			<div class="form-group">
    		{{ form.number |add_class:'form-control'}}
    		{{ form.instance.name }}
    		</div>
    		</p>

            {% for form in formset %}    
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}    
            {% endfor %}

    	{% endfor %}
    	
    <input type="submit" class="btn btn-primary">
</form>

{% endblock %}