{% extends 'base.html' %}
{% block content %}


<nav class="navbar">
<div class="btn-group">
<a href={% url 'profile_list' %} class="btn btn-primary"><i class="icon-user"></i> 人員列表</a>
<a href={% url 'create_colleague' %} class="btn btn-primary"><i class="icon-user"></i> 新增人員</a>
<a href={% url 'edit_profile' %} class="btn btn-primary"><i class="icon-user"></i> 編輯人員資料</a>
<a href={% url 'profile_delete_list' %} class="btn btn-primary active"><i class="icon-remove"></i> 刪除人員</a>
</div>
</nav>

<p>
<h1>刪除人員</h1>

<div class="row">
  <div class="col-lg-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>編號</th>
          <th>身分</th>
          <th>姓名</th>
        </tr>
      </thead>
          {% for profile in profiles %}
      <tbody>
        <tr>
		<td>{{ profile.number }}</td>
		<td>{{ profile.rank }}</td>
		<td>{{ profile.name }}</td>
		<td>

			<!-- Small modal -->
			<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target=".bd-example-modal-sm-{{ profile.number }}"><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></button>

		</td>
        </tr>
      </tbody>
          {% endfor %}
    </table>
  </div>
</div>

<p>隊員：{{members.count}}人</p>
<p>替代役：{{substitutes.count}}人</p>
<p>總計：{{profiles.count}}人</p>

          
 {% for profile in profiles %}
			<div class="modal fade bd-example-modal-sm-{{ profile.number }}">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">確認刪除</h4>
						</div>
						<div class="modal-body">
						
							<p>是否刪除 {{ profile.rank }} {{ profile.name }}</p>
							
						</div>
						<div class="modal-footer">
							
							<a href={{profile.remove}} class="btn btn-primary">是</a>
							
							<button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
{% endfor %}
{% endblock %}
