{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<nav class="navbar">
<div class="btn-group">
<a href={% url 'profile_list' %} class="btn btn-primary active"><i class="icon-user"></i> 人員列表</a>
<a href={% url 'create_colleague' %} class="btn btn-primary"><i class="icon-user"></i> 新增人員</a>
<a href={% url 'edit_profile' %} class="btn btn-primary"><i class="icon-user"></i> 編輯人員資料</a>
<a href={% url 'profile_delete_list' %} class="btn btn-primary"><i class="icon-remove"></i> 刪除人員</a>
</div>
</nav>



<p><h1>人員列表</h1></p>

<p><strong>隊員：</strong>{{members.count}}人 | <strong>替代役：</strong>{{substitutes.count}}人 | <strong>總計：</strong>{{profiles.count}}人</p>

<div class="row">
<div class="col-lg-8">
<table class="table table-hover">
  <thead>
    <tr>
      <th>編號</th>
      <th>身分</th>
      <th>姓名</th>
      <th>行動電話</th>
      <th>住宅電話</th>
      <th>緊急聯絡人電話</th>
    </tr>
  </thead>


  <tbody>
      {% for profile in profiles %}
    <tr>
    {% if profile.rank == '隊員' %}
      <td class="table-active">{{ profile.number }}</td>
      <td class="table-active">{{ profile.rank }}</td>
      <td class="table-active">{{ profile.name }}</td>
      <td class="table-active">{{ profile.mobile_phone }}</td>
      <td class="table-active">{{ profile.home_phone }}</td>
      <td class="table-active">{{ profile.emergency_call }}</td>
  {% else %}
      <td>{{ profile.number }}</td>
      <td>{{ profile.rank }}</td>
      <td>{{ profile.name }}</td>
      <td>{{ profile.mobile_phone }}</td>
      <td>{{ profile.home_phone }}</td>
      <td>{{ profile.emergency_call }}</td>
   {% endif %}

    </tr>
       {% endfor %}
  </tbody>
</table>
</div>
</div>


{% endblock %}