{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}


<nav class="navbar">
	<div class="btn-group">
		<a href={% url 'zuxun_table_list' %} class="btn btn-primary">人機組訓表格</a>
		<a href={% url 'zuxun_table_create' %} class="btn btn-primary active">製作表格</a>
		<a href={% url 'zuxun_session_create' %} class="btn btn-primary">項目編輯</a>
	</div>
</nav>
<p>

<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
{% for session in form.session %}
{{ session }}
{% endfor %}
<p>{{ form.date.label_tag }}{{ form.date|add_class:'form-control date' }}</p>
<p>表格照片: <small class='text-muted'>選擇兩張照片</small>{{ form.img|add_class:'form-control' }}</p>
<p>其餘照片: {{ form.img3|add_class:'form-control' }}</p>
    <input type="submit" class="btn btn-primary">

</form>


<style type="text/css">
    .ui-datepicker
    {
        z-index: 1003 !important; /* must be > than popup editor (1002) */
    }
</style>

<script type="text/javascript">

$('.date').datepicker({
  monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
  dateFormat: 'yy/mm/dd',
  });

</script>

{% endblock %}
